<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group List</title>
</head>
<body>

{% if groups %}
    Groups:
    <ul>
        {% for group in groups %}
            <li>
                <a href ="{% url 'groupr:group_list' %}">{{ group.0 }}</a>
                <ul>
                    {% for group.1 in group %}
                        {% for student in group.1 %}
                            <li>{{student}}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No groups have been formed yet.</p>
{% endif %}

</body>
</html>